.background {
  &--white {
    background-color: $c-white;
  }

  &--black {
    background-color: $c-black;
  }

  &--almost-black {
    background-color: $c-almost-black;
  }

  &--red {
    background-color: $c-red;
  }

  &--green {
    background-color: $c-green;
  }

  &--patel-blue {
    background-color: $c-pastel-blue;
  }

  &--light-gray {
    background-color: $c-light-gray;
  }

  &--dark-gray {
    background-color: $c-dark-gray;
  }
}
