.color {
  &--white {
    color: $c-white;
  }

  &--black {
    color: $c-black;
  }

  &--almost-black {
    color: $c-almost-black;
  }

  &--red {
    color: $c-red;
  }

  &--green {
    color: $c-green;
  }

  &--pastel-blue {
    color: $c-pastel-blue;
  }

  &--light-gray {
    color: $c-light-gray;
  }

  &--gray {
    color: $c-gray;
  }

  &--dark-gray {
    color: $c-dark-gray;
  }
}
