@import 'styles/component-set';

.container {
  display: flex;
  justify-content: center;
  width: 100%;

  &__inner {
    max-width: $wrapper-default;
  }

  &--fluid {
    &.container {
      &__inner {
        max-width: 100%;
      }
    }
  }

  &--wide {
    &.container {
      &__inner {
        max-width: $wrapper-wide;
      }
    }
  }

  &--gutter {
    padding-right: $gap-default;
    padding-left: $gap-default;
  }
}
