@import 'styles/component-set';

.container {
  max-width: $wrapper-default;

  &__outer {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &--fluid {
    &.container {
      &__inner {
        max-width: 100%;
      }
    }
  }

  &--wide {
    &.container {
      &__inner {
        max-width: $wrapper-wide;
      }
    }
  }

  &--gutter {
    padding-right: $gap-default;
    padding-left: $gap-default;
  }
}
