@use 'sass:map';
@import 'styles/component-set';

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;

  @include breakpoint(md-up) {
    align-items: center;
  }

  &__wrapper {
    position: sticky;
    bottom: 0;
  }

  &__links,
  &__social-links {
    display: grid;
    width: fit-content;
    margin-bottom: 25px;
    grid-auto-flow: column;
    grid-column-gap: 10px;
    grid-template-columns: auto;
    grid-template-rows: 1fr;
  }
}
