/* Base Colors
************************************************************** */

$c-white: rgb(255 255 255);
$c-black: rgb(0 0 0);
$c-almost-black: rgb(16 17 17);
$c-orange: rgb(255 171 46);
$c-red: rgb(255 101 107);
$c-green: rgb(31 218 138);
$c-pastel-blue: rgb(102 110 255);
$c-light-gray: rgb(248 248 248);
$c-gray: rgb(157 158 162);
$c-dark-gray: rgb(40 41 41);

/* Theme Colors
************************************************************** */

$c-text-color: $c-black;
$c-page-background: $c-white;
