@use 'sass:map';
@use 'sass:string';
@import './variables';

@mixin font-size($target, $context: $font-size-base) {
  font-size: calc(($target / $context) * 1rem);
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin breakpoint($point) {
  $query-direction: '';
  $query-point: '';
  $query-size: '';

  @if string.index($point, '-up') {
    $query-direction: 'min-width';
    $query-point: string.slice($point, 0, string.length($point) - string.length('-up'));
    $query-size: map.get($breakpoints, $query-point);
  } @else {
    @if string.index($point, '-down') {
      $query-point: string.slice($point, 0, string.length($point) - string.length('-down'));
    } @else {
      $query-point: $point;
    }

    $query-direction: 'max-width';
    $query-size: map.get($breakpoints, $query-point) - 1px;
  }

  @media screen and (#{$query-direction}: #{$query-size}) {
    @content;
  }
}
