@use 'sass:color';
@import 'styles/component-set';

%solid {
  border-radius: 8px;
}

.link {
  text-align: left;
  text-decoration: none;
  display: inline-flex;
  padding: 0;
  background-color: transparent;
  border: none;
  transition: color $transition;

  &__arrow {
    position: relative;
    align-self: center;
    width: 1em;
    height: 1em;
    margin-left: 0.2em;
    overflow: hidden;

    @include flex-center;

    &--visible,
    &--hidden {
      font-size: 0.6em;
      position: absolute;
      transition: transform $transition, opacity $transition;
    }

    &--visible {
      opacity: 1;
      transform: translateX(0);
    }

    &--hidden {
      opacity: 0;
      transform: translateX(-100%);
    }
  }

  &:not(.link--no-hover):hover,
  &:not(.link--no-hover):focus {
    .link__arrow {
      &--visible {
        opacity: 0;
        transform: translateX(100%);
      }

      &--hidden {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }

  &__content {
    display: inline-flex;
  }

  &--solid {
    &-white {
      @extend %solid;

      color: $c-white;

      &:not(.link--no-hover):hover,
      &:not(.link--no-hover):focus {
        background-color: color.adjust($c-white, $lightness: -15%);
      }
    }

    &-black {
      @extend %solid;

      color: $c-black;

      &:not(.link--no-hover):hover,
      &:not(.link--no-hover):focus {
        background-color: color.adjust($c-black, $lightness: 85%);
      }
    }

    &-blue {
      @extend %solid;

      color: $c-pastel-blue;

      &:not(.link--no-hover):hover,
      &:not(.link--no-hover):focus {
        background-color: color.adjust($c-pastel-blue, $lightness: 25%);
      }
    }

    &-gray {
      @extend %solid;

      color: $c-gray;

      &:not(.link--no-hover):hover,
      &:not(.link--no-hover):focus {
        background-color: color.adjust($c-gray, $lightness: 50%);
      }
    }
  }

  &--simple {
    &-white {
      color: $c-white;

      &:not(.link--no-hover):hover,
      &:not(.link--no-hover):focus {
        color: color.adjust($c-white, $lightness: -10%);
      }
    }

    &-black {
      color: $c-black;

      &:not(.link--no-hover):hover,
      &:not(.link--no-hover):focus {
        color: color.adjust($c-black, $lightness: 25%);
      }
    }

    &-blue {
      color: $c-pastel-blue;

      &:not(.link--no-hover):hover,
      &:not(.link--no-hover):focus {
        color: color.adjust($c-pastel-blue, $lightness: 5%);
      }
    }

    &-gray {
      color: $c-gray;

      &:not(.link--no-hover):hover,
      &:not(.link--no-hover):focus {
        color: color.adjust($c-gray, $lightness: 50%);
      }
    }
  }
}
