@use 'sass:map';
@import 'styles/component-set';

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes slide-in {
  0% {
    transform: translateY(100vh);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slide-out {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100vh);
  }
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-150%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slide-out-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-150%);
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(150%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slide-out-right {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(150%);
  }
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: map.get($z-index, 'modaloverlay');
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgb(0 0 0 / 20%);
  animation: fade-in $transition 1 forwards;
  backdrop-filter: blur(15px);
  @include flex-center;

  &__inner {
    position: relative;
    z-index: map.get($z-index, 'modal');
    padding: 20px;
    border-radius: 8px;
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: inherit;
  }

  &--justify {
    &-left {
      margin-right: auto;
      transform: translateX(-150%);
      animation: slide-in-left $transition * 1.5 $transition 1 ease forwards;
    }

    &-center {
      margin-right: auto;
      margin-left: auto;
      transform: translateY(100vh);
      animation: slide-in $transition * 1.5 $transition 1 cubic-bezier(0.39, 0.8, 0.28, 1.07)
        forwards;
    }

    &-right {
      margin-left: auto;
      transform: translateX(150%);
      animation: slide-in-right $transition * 1.5 $transition 1 ease forwards;
    }
  }

  &--align {
    &-top {
      align-self: flex-start;
    }

    &-center {
      align-self: center;
    }

    &-bottom {
      align-self: flex-end;
    }
  }

  &--fade-out {
    animation: fade-out $transition $transition 1 linear forwards;

    .modal {
      &--justify {
        &-left {
          animation: slide-out-left $transition * 1.5 ease-out forwards;
        }

        &-center {
          animation: slide-out $transition * 1.5 ease-out forwards;
        }

        &-right {
          animation: slide-out-right $transition * 1.5 ease-out forwards;
        }
      }
    }
  }
}
